{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12"> 
                <div class="jumbotron">
                    <h1>Category creation</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" class="btn btn-primary"/>
                    {{ form_end(form) }}

                    <ul>
                        <li>
                            <a href="{{ path('category_index') }}" class="btn btn-primary">Back to the list</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
